@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap');

body{
        background: gray;
        font-family: 'Catamaran', sans-serif;
    }

    .mob {
        width: 414px;
        /* margin: 0 auto; */
        background: white;
    }

    .display-inline {
        display: inline-block;
    }

    .main-nav{
        padding: 18px;
    }

    .main-info {
        height: 500px;
        /*margin-top: 0px;*/
        background: url('../img/svg/dude 1.svg') #11B55B bottom right no-repeat;
    }
    .main-info__title{
        color: white;
        position: absolute;
        width: 358px;
        height: 78px;
        left: 18px;
        top: 85px;
        font-size: 35px;
        line-height: 1.25;
        letter-spacing: 2.5px;
        font-weight: 500;
    }

    .main-info__text{
        color: white;
        position: absolute;
        width: 375px;
        height: 124 px;
        left: 18px;
        top: 190px;
        font-size: 15px;
    }

    .main-info__button{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px; 32px;
        width: 180px;
        height: 48px;
        border: 2px solid white;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: #11B55B;
        color: white;
        position: absolute;
        font-size: 20px;
    }

    .main-info__button:hover {
        border: 2px solid #197069;
        background-color: #197069;
    }

    .first{
        left: 18px;
        top: 305px;
    }

    .second{
        left: 18px;
        top: 365px;
    }

    .icon {
        margin-left: 70px;
    }

    .list {
        width: 22px;
        height: 22px;
        padding: 1px 0;
        margin-left: 20px;
        border: none;
   }

   hr {
        border: none; /* Прибираємо границі */
        background-color: #197069; /* Колір лінії */
        height: 2px; /* Товщина лінії */
        border-radius: 1px;
        margin: 4px 0;
   }

   .ellipse{
        position: absolute;
        width: 10px;
        height: 10px;
        left: 30px;
        top: 550px;
        background-color: #197069;
        border-radius: 6px;
        border: 1px solid #197069;
   }

   .ellipse:hover{
        background-color: #A5DD06;
        border: 1px solid #A5DD06;
   }

   .ellipse:nth-child(1){
        left: 30px;
        top: 550px;
   }

   .ellipse:nth-child(2){
       left: 50px;
       top: 550px;
      }

   .ellipse:nth-child(3){
       left: 70px;
       top: 550px;
   }
   .about {
    height: 437px;
    top: 573px;
    background: rgba(25, 112, 105, 0.1);
   }
   .about__content-title {
    position: absolute;
    width: 384px;
    height: 30px;
    left: 15px;
    top: 600px;
    font-family: Catamaran;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 36px;
    text-align: center;
    color: #197069;
   }
   .about__content-text {
    position: absolute;
    width: 384px;
    height: 30px;
    left: 15px;
    top: 665px;
    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #5B5B5B;
    
   }
   .about__content-person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    position: absolute;
    width: 314px;
    height: 165px;
    left: 27px;
    top: 755px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(25, 112, 105, 0.1);
    border-radius: 8px;
   }
   .about__person-foto {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 25px;
    top:25px;
    background: url(.png);
    border-radius: 100px;
   }

   .about__person-name {
    position: absolute;
    width: 177px;
    height: 24px;
    left: 110px;
    top: 12px;
    font-family: Catamaran;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #5B5B5B;
   }
   .about__person-text {
    position: absolute;
    width: 338px;
    height: 108px;
    left: 22px;
    top: 74px;
    font-family: Catamaran;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #5B5B5B;
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 24px 0px;
   }

/* footer */

.footer{
	width: 415px;
	height: 867px;
	background:#197069;
}

.title{
	position: absolute;
	width: 346px;
	height: 171.88px;
	left: 28px;
	top: 533px; /* absolute + 500*/
}

.title p{
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #FFFFFF;
	margin: 24px 0px;
}

.content{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: absolute;
	width: 317px;
	height: 200px;
	left: 33px;
	top: 244px;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	flex: none;
	margin: 16px 0px;
}
.list1{
	margin: 0 40px 0 0;
}
.list2{
	margin: 0 20px 0 0;
}

.line1{
	position: absolute;
	width: 357px;
	height: 1px;
	left: 31px;
	top: 975px;  /* absolute + 500*/
}
.text{
	position: absolute;
	width: 357px;
	height: 162px;
	left: 31px;
	top: 499px;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: rgba(255, 255, 255, 0.8);
}
.line2{
	position: absolute;
	width: 357px;
	height: 1px;
	left: 31px;
	top: 1161px;  /* absolute + 500*/
}

.button{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: absolute;
	width: 317px;
	height: 200px;
	left: 33px;
	top: 1180px;  /* absolute + 500*/
	color: #FFFFFF;
	flex: none;

}
.button span:first-child{
	margin: 0 30px 0 0;
}
.button span:last-child{
	margin: 0 20px 0 0;
}

.line3{
	position: absolute;
	width: 357px;
	height: 1px;
	left: 31px;
	top: 714px;
}

.footer_content{
	position: absolute;
	width: 306px;
	height: 16px;
	left: 30px;
	top: 730px;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.8);
}
  
