
/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
body{
        background: gray;
        font-family: 'Catamaran', sans-serif;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .mob {
        width: 414px;
        /* margin: 0 auto; */
        background: white;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .display-inline {
        display: inline-block;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .main-nav{
        padding: 18px;
    }
    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .main-info {
        height: 500px;
        /*margin-top: 0px;*/
        background: url('../img/svg/dude 1.svg') #11B55B bottom right no-repeat;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .main-info__title{
        color: white;
        width: 358px;
        height: 78px;
        font-size: 35px;
        line-height: 1.25;
        letter-spacing: 2.5px;
        font-weight: 500;
    }

    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .m-i-title__position-mob{
        position: absolute;
        left: 18px;
        top: 85px;
    }

    /* Опис розміру елемента, може бути змінений в залежності від структури макету*/
    .m-i-title__size-mob{
        width: 358px;
        height: 78px;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .main-info__text{
        color: white;
        font-size: 15px;
    }

    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .m-i-text__position-mob{
        position: absolute;
        left: 18px;
        top: 190px;
    }

    /* Опис розміру елемента, може бути змінений в залежності від структури макету*/
    .m-i-text__size-mob{
        width: 375px;
        height: 124 px;
    }



    .main-info__button{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px; 32px;
        border: 2px solid white;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: #11B55B;
        color: white;
        font-size: 20px;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .main-info__button:hover {
        border: 2px solid #197069;
        background-color: #197069;
    }

    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .first{
        position: absolute;
        left: 18px;
        top: 305px;
    }

    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .second{
        position: absolute;
        left: 18px;
        top: 365px;
    }

    /* Опис розміру елемента, може бути змінений в залежності від структури макету*/
    .m-i-button__size-mob{
        width: 180px;
        height: 48px;

    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .icon {
        margin-left: 70px;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .list {
        padding: 1px 0;
        margin-left: 20px;
        border: none;
        width: 22px;
        height: 22px;
   }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   .list:hover {
        background-color: #197069; /* Колір лінії */
   }



    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   hr {
        border: none; /* Прибираємо границі */
        background-color: #197069; /* Колір лінії */
        height: 2px; /* Товщина лінії */
        border-radius: 1px;
        margin: 4px 0;
   }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   .ellipse{

        width: 10px;
        height: 10px;
        background-color: #197069;
        border-radius: 6px;
        border: 1px solid #197069;
   }

    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .ellipse__position-mob{
        position: absolute;
        left: 30px;
        top: 550px;
    }


    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/

    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
        .__position-mob{

        }

    /* Опис розміру елемента, може бути змінений в залежності від структури макету*/
    .__size-mob{

    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   .ellipse:hover{
        background-color: #A5DD06;
        border: 1px solid #A5DD06;
   }

   /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
   .ellipse__position-mob:nth-child(1){
        left: 30px;
        top: 550px;
   }

   /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
   .ellipse__position-mob:nth-child(2){
       left: 50px;
       top: 550px;
      }

   /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
   .ellipse__position-mob:nth-child(3){
       left: 70px;
       top: 550px;
   }


   .about {
       height: 437px;
       top: 573px;
       background: rgba(25, 112, 105, 0.1);
   }
   .about__content-title {
       position: absolute;
       width: 384px;
       height: 30px;
       left: 15px;
       top: 600px;
       font-family: Catamaran;
       font-style: normal;
       font-weight: bold;
       font-size: 27px;
       line-height: 36px;
       text-align: center;
       color: #197069;
   }
   .about__content-text {
       position: absolute;
       width: 384px;
       height: 30px;
       left: 15px;
       top: 665px;
       font-family: Catamaran;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 26px;
       text-align: center;
       color: #5B5B5B;
   }

   .about__content-person {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       padding: 32px;
       position: absolute;
       width: 314px;
       height: 165px;
       left: 27px;
       top: 755px;
       background: #FFFFFF;
       box-shadow: 0px 0px 20px rgba(25, 112, 105, 0.1);
       border-radius: 8px;
   }

   .about__person-header{
       display: flex;
       flex-direction: row;
       align-items: center;
       padding: 0;
   }

   .about__person-foto {
       position: absolute;
       width: 48px;
       height: 48px;
       left: 25px;
       top:25px;
       background: url(.png);
       border-radius: 100px;
   }

   .about__person-name {
       position: absolute;
       width: 177px;
       height: 24px;
       left: 110px;
       top: 12px;
       font-family: Catamaran;
       font-style: normal;
       font-weight: bold;
       font-size: 20px;
       line-height: 24px;
       letter-spacing: 0.5px;
       color: #5B5B5B;
   }
   .about__person-text {
       position: absolute;
       width: 338px;
       height: 108px;
       left: 22px;
       top: 74px;
       font-family: Catamaran;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 26px;
       color: #5B5B5B;
       flex: none;
       order: 1;
       flex-grow: 1;
       margin: 24px 0px;
   }

/* footer */

.footer{
	width: 415px;
	height: 867px;
	background:#197069;
}

.title{
	position: absolute;
	width: 346px;
	height: 171.88px;
	left: 28px;
	top: 3733px; /* absolute + 3700*/
}

.title p{
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #FFFFFF;
	margin: 24px 0px;
}

.content{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: absolute;
	width: 317px;
	height: 200px;
	left: 33px;
	top: 3944px;   /* absolute + 3700px*/
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	flex: none;
	margin: 16px 0px;
}
.list1{
	margin: 0 40px 0 0;
}
.list2{
	margin: 0 20px 0 0;
}

.line1{
	position: absolute;
	width: 357px;
	height: 1px;
	left: 31px;
	top: 4175px;   /* absolute + 3700px*/
}
.text{
	position: absolute;
	width: 357px;
	height: 162px;
	left: 31px;
	top: 4199px;   /* absolute + 3700px*/
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: rgba(255, 255, 255, 0.8);
}
.line2{
	position: absolute;
	width: 357px;
	height: 1px;
	left: 31px;
	top: 4361px;   /* absolute + 3700px*/
}

.button{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: absolute;
	width: 317px;
	height: 200px;
	left: 33px;
	top: 4395px;   /* absolute + 3700px*/
	color: #FFFFFF;
	flex: none;

}
.button span:first-child{
	margin: 0 30px 0 0;
}
.button span:last-child{
	margin: 0 20px 0 0;
}

.line3{
	position: absolute;
	width: 357px;
	height: 1px;
	left: 31px;
	top: 4414px;   /* absolute + 3700px*/
}

.footer_content{
	position: absolute;
	width: 306px;
	height: 16px;
	left: 30px;
	top: 4430px;   /* absolute + 3700px*/
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.8);
}
  
