body{
        background: gray;
        font-family: 'Catamaran', sans-serif;
    }

    .mob {
        width: 414px;
        /* margin: 0 auto; */
        background: white;
    }

    .display-inline {
        display: inline-block;
    }

    .main-nav{
        padding: 18px;
    }

    .main-info {
        height: 500px;
        /*margin-top: 0px;*/
        background: url('../img/svg/dude 1.svg') #11B55B bottom right no-repeat;
    }
    .main-info__title{
        color: white;
        position: absolute;
        width: 358px;
        height: 78px;
        left: 13px;
        top: 85px;
        font-size: 35px;
        line-height: 1.25;
        letter-spacing: 2.5px;
        font-weight: 500;
    }

    .main-info__text{
        color: white;
        position: absolute;
        width: 375px;
        height: 124 px;
        left: 12px;
        top: 190px;
        font-size: 15px;
    }

    .main-info__button{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px; 32px;
        width: 180px;
        height: 48px;
        border: 2px solid white;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: #11B55B;
        color: white;
        position: absolute;
        font-size: 20px;
    }

    .main-info__button:hover {
        border: 2px solid #197069;
        background-color: #197069;
    }

    .first{
        left: 12px;
        top: 305px;
    }

    .second{
        left: 12px;
        top: 365px;
    }

    .icon {
        margin-left: 70px;
    }

    .list {
        width: 22px;
        height: 22px;
        padding: 1px 0;
        margin-left: 20px;
        border: none;
   }

   hr {
        border: none; /* Прибираємо границі */
        background-color: #197069; /* Колір лінії */
        height: 2px; /* Товщина лінії */
        border-radius: 1px;
        margin: 4px 0;
   }