html, body {
  margin: 0;
  height: 100%;
  min-width: 320px;
}

@import "partials/_header";
@import "partials/_present-text";
@import "partials/_features";
@import "partials/_testimonials";
@import "partials/_pricing";


