<div class="pricing">
    <div class="pricing__header">
        <h2>
            Fork Subscription Pricing
        </h2>
    </div>
    <div class="pricing__list">
        <div class="pricing__list__block current-price__item">
                <div class="current-price__item__header">
                    <h2>Students</h2>
                </div>
                <div class="current-price__item__price">
                    <p>$<span>29</span></p>
                </div>
                <div class="current-price__item__rate">
                    <p>per month</p>
                </div>
                <div class="current-price__item__line">
                    <p></p>
                </div>
                <div class="current-price__item__type">
                    <p>Personal License</p>
                </div>
                <button>purchase</button>
        </div>
        <div class="pricing__list__block current-price__item">
                <div class="current-price__item__header">
                    <h2>professional</h2>
                </div>
                <div class="current-price__item__price">
                    <p>$<span>59</span></p>
                </div>
                <div class="current-price__item__rate">
                    <p>per month</p>
                </div>
                <div class="current-price__item__line">
                    <p></p>
                </div>
                <div class="current-price__item__type">
                    <p>Professional License
                        Email Support</p>
                </div>
                <button>purchase</button>
        </div>
        <div class="pricing__list__block current-price__item active">
                <div class="current-price__item__header">
                    <h2>agency</h2>
                </div>
                <div class="current-price__item__price">
                    <p>$<span>99</span></p>
                </div>
                <div class="current-price__item__rate">
                    <p>per month</p>
                </div>
                <div class="current-price__item__line">
                    <p></p>
                </div>
                <div class="current-price__item__type">
                    <p>
                        1-12 Team Members Phone Support</p>
                </div>
                <button>purchase</button>
        </div>
        <div class="pricing__list__block current-price__item">
                <div class="current-price__item__header">
                    <h2>enterprise</h2>
                </div>
                <div class="current-price__item__price">
                    <p>$<span>159</span></p>
                </div>
                <div class="current-price__item__rate">
                    <p>per month</p>
                </div>
                <div class="current-price__item__line">
                    <p></p>
                </div>
                <div class="current-price__item__type">
                    <p>
                        Unlimited Team Members 24/ 7 Phone Support
                    </p>
                <button>purchase</button>
            </div>
        </div>
    </div>
</div>
