<div class="container">
  <h1 class="container__head">People Are Talking About Fork</h1>
  <div class="container__main">
    <div class="container__items">
      <p class="logo"><img alt="logo of smashing magazine" src="img/picto/logo1.png" height="43" width="165"/></p>
      <p class="description">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
    </div>
    <div class="container__items">
      <p class="logo"><img alt="logo of codrops" src="img/picto/logo2.png" height="50" width="148"/></p>
      <p class="description">Donec euismod dolor ut ultricies con- sequat.
        Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</p>
    </div>
    <div class="container__items">
      <p class="logo"><img class="logo__w logo__w-over" alt="logo of w" src="img/picto/logo3.png" height="64" width="64";/></p>
      <p class="description">In efficitur in velit et  tempus.  Duis  nec  odio dapibus, suscipit
        erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
    </div>
    <div class="container__items">
      <p class="logo"><img alt="logo of pixel buddha" src="img/picto/logo4.png" height="24" width="225"/></p>
      <p class="description">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
    </div>
    <div class="container__items">
      <p class="logo"><img alt="logo of creative blog" src="img/picto/logo5.png" height="34" width="166"/></p>
      <p class="description">Praesent ut eros tristique, malesuada lectus vel, lobortis massa.
        Nulla faucibus lorem id arcu consequat faucibus. </p>
    </div>
    <div class="container__items">
      <p class="logo"><img alt="logo of tnw" src="img/picto/logo6.png" height="34" width="108"/></p>
      <p class="description">Fusce pharetra erat id odio blandit, nec
        pharetra eros venenatis. Pellentesque porttitor
        cursus massa et vestibulum.</p>
    </div>
  </div>
  <h6 class="container__bottom">
    <p>Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis
      vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt
      consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus.</p>
  </h6>
</div>
