* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item {
  border: 2px solid red;
  padding: 20px 40px;
  box-sizing: border-box;
  width: 100px;
  height: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
}

/* Спосіб зміни положення блоків, змінюйте значення, 
щоб побачити результат . Зараз 5-й блок розсташований перший, тому що
його значення, так би мовити - приорітетніше */

.item-1 {
  order: 0;
}
.item-2 {
  order: 1;
}
.item-3 {
  order: 2;
}
.item-4 {
  order: 3;
}
.item-5 {
  order: -1;
}
.item-6 {
  order: 5;
}
