<div class="features">
    <div class="features__header">
        <h2>
            &lt;Here is what you get&gt;
        </h2>
    </div>
    <div class="features__block-one">
        <div class="basic-block">
            <div class="basic-block__image">
                <img src="img/features-block-one.png" alt="">
            </div>
            <div class="basic-block__header">
                <h3>Creatred to Make The Web Better</h3>
            </div>
            <div class="basic-block__content">
                <p>
                    Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                </p>
            </div>
        </div>

    </div>
    <div class="features__block-two">
        <div class="basic-block">
            <div class="basic-block__image">
                <img src="img/features-block-two.png" alt="">
            </div>
            <div class="basic-block__header">
                <h3>Incredibly Powerful Tool</h3>
            </div>
            <div class="basic-block__content">
                <p>
                    Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                </p>
            </div>
        </div>
    </div>
    <div class="features__block-three">
        <div class="basic-block">
            <div class="basic-block__image">
                <img src="img/features-block-three.png" alt="">
            </div>
            <div class="basic-block__header">
                <h3>
                    Experimental Stuff
                </h3>
            </div>
            <div class="basic-block__content">
                <p>
                    Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                </p>
            </div>
        </div>
    </div>
    <div class="features__block-four">
        <div class="basic-block">
            <div class="basic-block__image">
                <img src="img/features-block-four.png" alt="">
            </div>
            <div class="basic-block__header">
                <h3>
                    Created to Make The Web Better
                </h3>
            </div>
            <div class="basic-block__content">
                <p>
                    Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
                </p>
            </div>
        </div>
    </div>
    <div class="features__image-main">
        <img class="mobile-img " src="img/image-main_320.png" alt="Main task">
        <img class="laptop-img " src="img/image-main_768.png" alt="Main task">
        <img class="full-screen-img " src="img/image-main_1200.png" alt="Main task">
    </div>
</div>