
<header class="header">
  <nav class="header__nav nav">
    <div class="nav__logo"><a href="#"><span class="logoName">ForkIO</span></a></div>
    <div class="nav__button">
      <button class="nav__button--small">Buy Now</button>
    </div>
    <div class="nav__toggle">
      <button class="nav__toggle-button" id="btnToggle">
        <img alt="burger-menu-icon" src="img/burger-menu-icon@1X.png" height="21" width="26"/></button>
      <div class="nav__main-menu">
        <ul class="nav__menu-list">
          <li class="nav__list-item"><a href="#">Overview</a></li>
          <li class="nav__list-item"><a href="#">About Fork</a></li>
          <li class="nav__list-item"><a href="#">Buying Options</a></li>
          <li class="nav__list-item"><a href="#">Support</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="header__section">
    <h1>Fork App</h1>
    <h2>
      <span>A Real Gamechanger In The</span>
      <span>World Of Web-Development</span>
    </h2>
    <h3>v. 2.8 For Mac and Windows</h3>
  </section>
</header>
<div class="header-button">
  <button class="header-button--large">Download For Free Now</button>
  <p>Unlimited 30-Days Trial Period</p>
</div>