/*
Для використання шрифту "Catamaran" його необхідно попередньо підключити.
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Catamaran&display=swap" rel="stylesheet">
</head>
*/

/* Опис стилю "body", є базовим елементом стилізації (бібліотеки стилю)*/
body{
    background: gray;
    font-family: 'Catamaran', sans-serif;
}

/* duplicated teg body*/
.body-ls_v1{
    background: gray;
    font-family: 'Catamaran', sans-serif;
}

/* Опис стилю header, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.header-lh_v1{
	background:#11B55B;
}

/* Опис стилю footer, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.footer-lh_v1{
	background:#197069;
}

/* Опис стилю form, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.form-lh_v1{
	background:#FFFFFF;
	border-radius:10px;
}

/* Опис стилю form, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.input-lh_v1{
	background:#FFFFFF;
	border-radius:5px;
	border: 1px solid #197069;
}
.input-lh_v1{
	background:#FFFFFF;
	border-radius:5px;
	border: 1px solid #197069;
}

.table-lh_v1{
    background:#A5DD06;
    border-radius: 10px 10px 0px 0px;
}

.th-lh_v1{
    color:#FFFFFF;
    background:#197069;
    border-radius: 10px 10px 0px 0px;
}

/* Опис стилю елемента <div>, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.div-lh_v0{
    width: 10px;
    height: 10px;
    background-color: #197069;
    border-radius: 6px;
    border: 1px solid #197069;
   }

.div-lh_v0:hover{
    background-color: #A5DD06;
    border: 1px solid #A5DD06;
   }


/* Опис стилю елемента <div>, не є базовим елементом стилізації (бібліотеки стилю)*/
.div-lh_v2{
    color: white;
    font-size: 35px;
    line-height: 1.25;
    letter-spacing: 2.5px;
    font-weight: 500;
}

/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.img-lh_v1{
    height: 100px;
    width: 100px;
    background-image: url('./img/png/dude.png');
    border: 5px solid #197069;
    background-color: #197069;
    border-radius: 25px;
}
/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.img-lh_v2{
    height: 100px;
    width: 100px;
    background-image: url('./img/png/dude.png');
    border: 5px solid #197069;
    background-color: #197069;
    border-radius: 55px;
}


/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.text-lh_v1{
    color: white;
    font-size: 15px;
    }
/* Опис стилю button, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.button-ls_v0{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px; 32px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #11B55B;
    color: white;
    font-size: 20px;
    /* fixed part*/
    width: 180px;
    height: 48px;
}

.button-ls_v0:hover {
    border: 2px solid #197069;
    background-color: #197069;
}


 .a-ls_v0 {
    color: #11B55B;
    text-decoration: none; /* Прибирає підкреслення для посилань */
   }

 .a-ls_v0:hover {
    text-decoration: underline; /* Додаємо підкреслення при наведенні курсору на посилання */
    color: #197069;
   }

/* Опис стилю hr, є базовим елементом стилізації (бібліотеки стилю)*/
.hr-lh_v0 {
    border: none; /* Прибираємо границі */
    background-color: #197069; /* Колір лінії */
    height: 2px; /* Товщина лінії */
    border-radius: 1px;
    margin: 4px 0;
   }

/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.text-title-lh_v1 {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 36px;
    text-align: center;
    color: #197069;
   }

/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.text-title-lh_v2 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5B5B5B;
   }
/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.text-title-lh_v3 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #5B5B5B;
   }

/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.text-title-lh_v4 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #5B5B5B;
     }


/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.text-title-lh_v5{
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #FFFFFF;
	margin: 24px 0px;
}
