//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Ubuntu:300,400';

$fontFamily: 'Ubuntu', sans-serif;

$baseFontSize: 16px;


// Paths

$i: "../i/";
$fontPath: "../fonts/";


 // Colors
$black: #000000;
$white: #ffffff;
