*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.eot'),
    url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.eot'),
    url('../fonts/MullerBold.eot') format('eot'),
    url('../fonts/MullerBold.woff') format('woff'),
    url('../fonts/MullerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body{
  background-color: #ffffff;
  margin: 0 auto;
  color: #333333;
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.container{
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}

/******************/

.conditions,
.stages,
.employment{
  padding: 100px 0px 10px;
}
.conditions__title,
.stages__title,
.employment__salory-title{
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}
.conditions__subtitle,
.stages__subtitle,
.employment__contact-subtitle,
.employment__salory-subtitle{
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin-top: 10px;
}
.conditions__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0 40px;
}
.conditions__content-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.conditions__content-elem{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 88px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  text-align: center;
  margin-top: 40px;
  
}
.conditions__content-elem:first-child{
  margin-right: 32px;
  
}
.conditions__content-number{
  position: absolute;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #2F80ED;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 5;
  top: -33px;
  border: 1px solid #E0E0E0;
}
.conditions__content-text{
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  padding: 15px 5px 5px;
}

.inform{
  width: 100%;
  height: auto;
  padding: 30px;
  background: #FFCF10;
  border-radius: 12px;
}
.inform__block{
  width: 70%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.inform__block-icon{
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 50%;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  text-align: center;
}
.inform__block-text{
  max-width: 780px;
  width: 100%;
  height: auto;
  margin-left: 30px;
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}


.stages__content{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px 0;
}
.stages__content-block{
  max-width: 430px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: flex-start;
}
.stages__content-elem{
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
  text-align: left;
}

.stages__content-number{
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #2F80ED;
  padding-left: 48px;
  position: relative;
}
.stages__content-number::before,
.stages__content-number::after{
  content: '';
  background-color: #2F80ED;
  position: absolute;
  width: 36px;
  height: 2px;
  z-index: 11;
  top: 15px;
}
.stages__content-number::before{
  left: 5px;
}
.stages__content-number::after{
  left: 86px;
}
.stages__content-text{
  width: 100%;
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.stages__img{
  max-width: 700px;
  width: 100%;
  height: 505px;
  background-color: blue;
  overflow-x: scroll;
 overflow-y: hidden;
}

/* Додаткові блоки*/

.contact__form{
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 30px;
}
.contact__form-grid1{
  grid-row: 1/2;
  grid-column: 1/5;
}
.contact__form-grid2{
  grid-row: 2/span 3;
  grid-column: 1/5;
}
.contact__form-grid3{
  grid-row: 1/2;
  grid-column: 5/9;
  justify-content: center;
  align-items: center;
}
.contact__form-grid4{
  grid-row: 2/3;
  grid-column: 5/9;
}
.contact__form-grid5{
  grid-row: 2/3;
  grid-column: 9/13;
  
  background-color: #479ff1;
}
.contact__form-grid6{
  grid-row: 3/4;
  grid-column: 9/13;
  background-color: #FFCF10;
}

.salory__form{
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 40px auto 5px;
  padding: 25px;
  border: 1px solid #2F80ED;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
}
.salory__form-grid1{
  grid-row: 1/2;
  grid-column: 2/12;
}
.salory__form-grid2{
  grid-row: 2/3;
  grid-column: 2/12;
}
.salory__form-grid3{
  grid-row: 3/4;
  grid-column: 6/8;
}
.salory__form-grid4{
  grid-row: 4/5;
  grid-column: 9/12;
  
}
.salory__form-title{
  font-family: Muller;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
.salory__form-subtitle{
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #4F4F4F;
  margin-top: 10px;
}
.salory__form-inp{
  font-family: Muller;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin: 30px 0 50px;
}
.salory__form-btnNext{
  height: 40px;
  background: #2F80ED;
  box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
  border-radius: 8px;
  font-family: Muller;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
}



@media (max-width: 999px){
  .stages__content{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .stages__content-elem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .stages__content-number{
    padding-left: 0px;
  }
  .stages__content-number::before{
    left: -38px;
  }
  .stages__content-number::after{
    left: 38px;
  }
  .stages__content-text{
    text-align: center;
  }
  .inform__block{
    width: 80%;
  }
  .stages__img{
    margin-top: 40px;
  }
}


@media (max-width: 768px){

  .conditions__content-block{
    flex-direction: column;
  }
  .conditions__content-elem:first-child{
    margin-right: 0px;
  }

  .inform{
    width: 100%;
    height: auto;
    padding: 30px;
    background: #FFCF10;
    border-radius: 12px;
  }
  .inform__block{
    width: 90%;
  }
}

@media (max-width: 375px){
  .conditions,
  .stages{
    padding: 80px 0px 5px;
  }
  .conditions__title,
  .stages__title{
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
  }
  .conditions__subtitle,
  .stages__subtitle{
    font-size: 16px;
    line-height: 22px;
  }
  .conditions__content-text{
    font-size: 14px;
    line-height: 19px;
  }

  .inform{
    padding: 20px;
  }
  .inform__block{
    width: 100%;
  }
  .inform__block-icon{
    width: 40px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 50%;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-align: center;
  }
  .inform__block-text{
    margin-left: 15px;
    font-size: 16px;
    line-height: 18px;
  }
  .stages__content{
    margin: 20px 0;
  }
  .stages__content-text{
    font-size: 16px;
    line-height: 18px;
  }
  .stages__img{
    display: none;
  }
}


