
/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
body{
    background: gray;
    font-family: 'Catamaran', sans-serif;
}

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .mob {
        width: 414px;
        /* margin: 0 auto; */
        background: white;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .display-inline {
        display: inline-block;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .main-nav{
        padding: 18px;
    }
    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .main-info {
        height: 500px;
        /*margin-top: 0px;*/
        background: url('../img/svg/dude 1.svg') #11B55B bottom right no-repeat;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .main-info__title{
        color: white;
        width: 358px;
        height: 78px;
        font-size: 35px;
        line-height: 1.25;
        letter-spacing: 2.5px;
        font-weight: 500;
    }

    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .m-i-title__position-mob{
        position: absolute;
        left: 18px;
        top: 85px;
    }

    /* Опис розміру елемента, може бути змінений в залежності від структури макету*/
    .m-i-title__size-mob{
        width: 358px;
        height: 78px;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .main-info__text{
        color: white;
        font-size: 15px;
    }

    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .m-i-text__position-mob{
        position: absolute;
        left: 18px;
        top: 190px;
    }

    /* Опис розміру елемента, може бути змінений в залежності від структури макету*/
    .m-i-text__size-mob{
        width: 375px;
        height: 124 px;
    }

    .main-info__button{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px; 32px;
        border: 2px solid white;
        box-sizing: border-box;
        border-radius: 8px;
        background-color: #11B55B;
        color: white;
        font-size: 20px;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .main-info__button:hover {
        border: 2px solid #197069;
        background-color: #197069;
    }

    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .first{
        position: absolute;
        left: 18px;
        top: 305px;
    }

    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .second{
        position: absolute;
        left: 18px;
        top: 365px;
    }

    /* Опис розміру елемента, може бути змінений в залежності від структури макету*/
    .m-i-button__size-mob{
        width: 180px;
        height: 48px;

    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .icon {
        margin-left: 70px;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
    .list {
        padding: 1px 0;
        margin-left: 20px;
        border: none;
        width: 22px;
        height: 22px;
   }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   .list:hover {
        background-color: #197069; /* Колір лінії */
   }



    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   hr {
        border: none; /* Прибираємо границі */
        background-color: #197069; /* Колір лінії */
        height: 2px; /* Товщина лінії */
        border-radius: 1px;
        margin: 4px 0;
   }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   .ellipse{
        width: 10px;
        height: 10px;
        background-color: #197069;
        border-radius: 6px;
        border: 1px solid #197069;
   }

    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .ellipse__position-mob{
        position: absolute;
        left: 30px;
        top: 550px;
    }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   .ellipse:hover{
        background-color: #A5DD06;
        border: 1px solid #A5DD06;
   }

   /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
   .ellipse__position-mob:nth-child(1){
        left: 30px;
        top: 550px;
   }

   /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
   .ellipse__position-mob:nth-child(2){
       left: 50px;
       top: 550px;
      }

   /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
   .ellipse__position-mob:nth-child(3){
       left: 70px;
       top: 550px;
   }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   .about {
       height: 437px;
       top: 573px;
       background: rgba(25, 112, 105, 0.1);
   }

    /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   .about__content-title {
       position: absolute;
       font-family: Catamaran;
       font-style: normal;
       font-weight: bold;
       font-size: 27px;
       line-height: 36px;
       text-align: center;
       color: #197069;
   }

    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .about__content-title-position-mob{
        left: 15px;
        top: 600px;
        }

    /* Опис розміру елемента, може бути змінений в залежності від структури макету*/
    .about__content-title-size-mob{
        width: 384px;
        height: 30px;
    }

   /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   .about__content-text {
       position: absolute;
       font-family: Catamaran;
       font-style: normal;
       font-weight: normal;
       font-size: 16px;
       line-height: 26px;
       text-align: center;
       color: #5B5B5B;
   }
    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .about__content-text-position-mob{
        left: 15px;
        top: 665px;
        }

    /* Опис розміру елемента, може бути змінений в залежності від структури макету*/
    .about__content-text-size-mob{
       width: 384px;
       height: 30px;
    }

   /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   .about__content-person {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       padding: 32px;
       position: absolute;
       background: #FFFFFF;
       box-shadow: 0px 0px 20px rgba(25, 112, 105, 0.1);
       border-radius: 8px;
   }

    /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .about__content-person-position-mob{
       left: 27px;
       top: 755px;
    }

    /* Опис розміру елемента, може бути змінений в залежності від структури макету*/
    .about__content-person-size-mob{
       width: 314px;
       height: 165px;
    }

   /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   .about__person-header{
       display: flex;
       flex-direction: row;
       align-items: center;
       padding: 0;
   }

   /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   /*
   .about__person-foto {
       position: absolute;
       width: 48px;
       height: 48px;
       left: 25px;
       top:25px;
       background: url(.png);
       border-radius: 100px;
   }
    */
   /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   .about__person-name {
       position: absolute;
       font-family: Catamaran;
       font-style: normal;
       font-weight: bold;
       font-size: 20px;
       line-height: 24px;
       letter-spacing: 0.5px;
       color: #5B5B5B;
   }

 /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .about__person-name-position-mob{
       left: 120px;
       top: 12px;
    }

    /* Опис розміру елемента, може бути змінений в залежності від структури макету*/
    .about__person-name-size-mob{
       width: 177px;
       height: 24px;
    }

   /* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
   .about__person-text {
       position: absolute;
       font-family: Catamaran;
       font-style: normal;
       font-weight: normal;
       font-size: 18px;
       line-height: 26px;
       color: #5B5B5B;
       flex: none;
       order: 1;
       flex-grow: 1;
       margin: 24px 0px;
   }

 /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
    .about__person-text-position-mob{
        left: 22px;
        top: 74px;
    }

/* Опис розміру елемента, може бути змінений в залежності від структури макету*/
    .about__person-text-size-mob{
       width: 338px;
       height: 108px;
    }



/* footer */

/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.footer{
	background:#197069;
}
/* Опис розміру елемента, може бути змінений в залежності від структури макету*/
.footer__size-mob{
	width: 415px;
	height: 867px;
}


/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.footer-title{
	position: absolute;
	width: 346px;
	height: 171.88px;
	left: 28px;
	top: 1033px; /* absolute + 1000*/
}

/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.footer-title p{
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: #FFFFFF;
	margin: 24px 0px;
}

/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.footer-content{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	flex: none;
	margin: 16px 0px;
}

 /* Опис позиції елемента, має бути змінена в залежності від структури макету*/
.footer-content__position-mob{
    position: absolute;
	left: 33px;
	top: 1244px;   /* absolute + 1000px*/
	}

/* Опис розміру елемента, може бути змінений в залежності від структури макету*/
.footer-content__size-mob{
	width: 317px;
	height: 200px;
    }


/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.list1{
	margin: 0 40px 0 0;
}

/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.list2{
	margin: 0 20px 0 0;
}

/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.line1{
	position: absolute;
	width: 357px;
	height: 1px;
	left: 31px;
	top: 1475px;   /* absolute + 1000px*/
}

/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.footer-text{
	position: absolute;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.4px;
	color: rgba(255, 255, 255, 0.8);
}

.footer-text__position-mob{
    left: 31px;
    top: 1499px;   /* absolute + 1000px*/}

/* Опис розміру елемента, може бути змінений в залежності від структури макету*/
.footer-text__size-mob{
	width: 357px;
    height: 162px;
    }

/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.line2{
	position: absolute;
	width: 357px;
	height: 1px;
	left: 31px;
	top: 1661px;   /* absolute + 1000px*/
}

/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.footer-condition{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	position: absolute;
	width: 317px;
	height: 200px;
	left: 33px;
	top: 1695px;   /* absolute + 1000px*/
	color: #FFFFFF;
	flex: none;

}
.footer-condition span{
    padding-right: 40px;
}
/* Переробити
.button span:first-child{
	margin: 0 30px 0 0;
}
.button span:last-child{
	margin: 0 20px 0 0;
}
*/

.line3{
	position: absolute;
	width: 357px;
	height: 1px;
	left: 31px;
	top: 1714px;   /* absolute + 1000px*/
}

/* Опис стилю елемента, немає змінюватись, є базовим елементом стилізації (бібліотеки стилю)*/
.footer-copyright{
	position: absolute;
	width: 306px;
	height: 16px;
	left: 30px;
	top: 1730px;   /* absolute + 1000px*/
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: rgba(255, 255, 255, 0.8);
}
  
